@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
    background-color: #001011;
    font-family: Ubuntu Mono;
    font-size: 1.1vw;
    color: white;
    user-select: none;
    font-weight: 400px !important;
}
pre {
    font-size: 1.1vw;
    color: white;
    margin-top: -1vw;
    font-family: Ubuntu Mono;
}
p {
    font-size: 1.1vw;
    color: white;
    font-family: Ubuntu Mono;
}
a {
    color: #3AAFB9;
}
#userAgent {
    color: white !important;
}
#window {
    background-color: black;
    width: 69vw;
    height:39vw;
    position: absolute;
    transform: translate(-50%,-50%);
    outline: rgb(40, 40, 40) 0.1vw solid;
    top: 50%;
    left: 50%;  
    padding-left: 0.5vw;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
    filter: drop-shadow(0vw 0vw 0.7vw black);
}
#titleBar {
    position: sticky;
    width:70vw;
    height: 2vw;
    background-color: rgb(40, 40, 40);
    z-index: 200;
    margin-left: -1vw;
    top: 0;
    cursor: not-allowed;
}
#input {
    background-color: rgba(0, 0, 0, 0);
    /* background-color: red; */
    outline: none;
    font-family: Ubuntu Mono;
    caret-shape: block;
    color: white;
    border: none;
    font-size: 1.1vw;
    width: 85%;
    height: 1.1vw;
    margin-top: -1vw;
    margin-left: 1vw;
    overflow-wrap: break-word;
    padding-bottom: 100%;
}
#output {
    background-color: rgba(0, 0, 0, 0);
    /* background-color: red; */
    outline: none;
    font-family: Ubuntu Mono;
    color: white;
    border: none;
    font-size: 1.1vw;
    width: 85%;
    height: 1.1vw;
    margin-top: -1vw;
    margin-left: 1vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#outputIn {
    display: flex;
    flex-direction: row;
}
span {
    color:#FFFC31;
    font-size: 1.1vw;
    margin-top: -1vw;
}
#dir {
    /* background-color: blue; */
    color: #64E9EE;
    font-size: 1.1vw;
    margin-top: -1vw;

}
#inputCon {
    display: flex;
    flex-direction: row;
}
#outputCon {
    display: flex;
    flex-direction: column;
}